<div>
   <h2>New User registration </h2>
   <form  novalidate>
   		<table class="table">
   			<tr>
   				<td>
   					Name : 
   				</td>
   				<td>
   					<input ng-model="user.name" />
   				</td>
   			</tr>
   			<tr>
   				<td>
   					Email ID:
   				</td>
   				<td>
   					<input ng-model="user.email" />
   				</td>
   			</tr>
   			<tr>
   				<td>
   					User Type :
   				</td>
   				<td>
   					<select ng-model="user.type" >
   						<option value="Developer" >Developer </option>
   						<option vaule="QA" > QA</option>
   					</select>
   				</td>
   			</tr>
   			<tr>
   				<td>
   					Team : 
   				</td>
   				<td>
   					<input ng-model="user.team" />
   				</td>
   			</tr>
   			<tr>
   				<td>
   					 
   				</td>
   				<td>
   					<input type="submit" ng-click="addUser()" class="btn btn-primary" />
   				</td>
   			</tr>
   		</table>
   	</form>
</div>

	