<div>
<div>
   <h2>Add user </h2>
   <form  novalidate method="post">
    <table class="table">
      <tr>
        <td>
          Name : 
       </td>
       <td>
          <input ng-model="user.name" />
       </td>
    </tr>
    <tr>
     <td>
       Email ID:
    </td>
    <td>
       <input ng-model="user.email" />
    </td>
 </tr>
 <tr>
  <td>

  </td>
  <td>
    <input type="submit" ng-click="addUser()" class="btn btn-primary" />
 </td>
</tr>
</table>
</form>
</div>
<div ng-hide="userList.length == 0">
   <h2> Users List </h2>

  <table class="table">
  <thead>
      <tr>
      <th> Name </th>
      <th> Email </th>
      </tr>
  </thead>
  <tbody>
   <tr ng-repeat='user in userList'>
      <td>
       {{user.name}}
    </td>
    <td>
       {{user.email}}
    </td>
    <td>
      <button ng-click="deleteUser(user.email)" class="btn btn-danger"> Delete </button>
    </td>
 </tr>
 </tbody>
</table>
<div class="row">
 <div class="col-md-2">
   <button class="btn btn-warning" ng-click="SaveData()"> Save Data </button>
 </div>
  <div class="col-md-2">  
   <button class="btn btn-danger" ng-click="deleteAll()"> Delete All </button>
   </div>
</div>
</div>

</div>

