<div>
	{{pageTitle}}
	<div ng-hide={{prop.isPhotosPage}}> 
		
		<input type="search" ng-model="searchBlogs"  />
	</div>
	<div>
		<table>
			<tr ng-repeat="url in urlList | filter : searchBlogs"  > 
				<td> 
					<a ng-href="#/photos/{{url.blogId}}"> {{url.blogURL}} </a>
				</td>
			</tr>
		</table>
	</div>

	<div>
		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchPosts">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div>
		
		<span ng-repeat="entry in blogFeedEntries | filter : searchPosts">
			<a ng-href="#/photos/{{blogID}}/{{entry.postID}}"> <img ng-src="{{entry.images[0].replace('s1600','s320')}}" title="{{entry.title}}" /></a>
		</span>
	</div>

</div>